@(user:String)

@import helper._

@main("Juego",scripts) {
<link rel="stylesheet" type="text/css" href=@routes.Assets.at("stylesheets/index.scala.css") media="screen" />	
<div id="container" >  
<div id="myModal" class="modal fade"  data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                 <h4 class="modal-title" id="pr">Pregunta</h4>
            </div>
            <div class="modal-body"> 
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                            <input id="res" type="hidden" name="respuesta">
                                <table class="table"> 
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td ><input id="res1" name="res1" class="btn btn-sm btn-success btn-block" type="button" onclick="compareAnswer(this)"  ></td>
                                        </tr> 
                                        <tr>
                                            <td>2</td>
                                            <td ><input id="res2" name="res2" class="btn btn-sm btn-success btn-block" type="button" onclick="compareAnswer(this)" ></td>
                                        </tr> <tr>
                                            <td>3</td>
                                            <td ><input id="res3" name="res3" class="btn btn-sm btn-success btn-block" type="button" onclick="compareAnswer(this)" ></td>
                                        </tr><tr>
                                            <td>4</td>
                                            <td ><input id="res4" name="res4" class="btn btn-sm btn-success btn-block" type="button" onclick="compareAnswer(this)" ></td>
                                        </tr>  
                                    </tbody>
                                </table> 
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>  
                <div class="modal-footer">
                <div class="alert alert-danger collapse" id="error" >
    		<strong>¡Error!</strong> has fallado
 				 </div>
 				 <div class="alert alert-success collapse" id="acierto" >
    		<strong>¡Bien hecho!</strong> Has acertado.
  					</div>
                <button id="ok" type="button" class="btn btn-primary collapse" onclick =recargarCanvas()  data-dismiss="modal">Ok</button> 
            </div>
            </div> 
        </div>
    </div> 
    
</div>

<div id="win" class="modal fade"  data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                 <h4 class="modal-title" id="pr">Enhorabuena</h4>
            </div>
            <div class="modal-body"> 
                    <div class="panel panel-green">
					<div class="panel-heading">
                           Enhorabuena, has ganado 
                        </div>
                        <div class="panel-body">
						<div class="table-responsive">
                            <input id="res" type="hidden" name="respuesta">
                                <table class="table"> 
                                    <tbody> 
                                        <tr>
                                            <td>Usuario</td>
                                            <td ><p id="ganador"/></td>
                                        </tr> <tr>
                                            <td>Aciertos</td>
                                            <td ><p id="puntos"/></td>
                                        </tr><tr>
                                            <td>Fallos</td>
                                            <td ><p id="fails"/></td>
                                        </tr>  
                                    </tbody>
                                </table>                         
                                <button id="inicio" type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:history.back()">Volver a inicio</button> 
                            </div>
                    	</div> 
               		 </div>  
            </div> 
        </div>
    </div>
  </div>
  
<canvas id="lienzo" width="500" height="500">Su navegador no soporta canvas :( </canvas>
<div class="col-sm-4">
<div class="panel panel-yellow" style="text-align: center;"> 
                        <div class="panel-body">
                        	<img id='dado' src="@routes.Assets.at("images/dados/Dado.gif")" align="middle"/>
                        	<p id="numero" >Número Obtenido</p>
                        </div>
                        <div class="panel-footer">
                <button id="lanzar" type="button" class="btn btn-primary" onclick="lanzar()" >Lanzar</button> 
                        </div>
                    </div>
       </div>
</div> 
<h2>Trivial 1a</h2>  
}


 @scripts= {
 
 		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

   		<script type="text/javascript">



function recargarCanvas(){

	var canvas = document.getElementById("lienzo");
	var ctx = canvas.getContext("2d");
	var img = new Image();
	
	$.ajax({
		type : 'GET',
		url : '@routes.Application.getImage()',
		data : {   },
		success : function(data) {
		var img = new Image();
		img.onload = function(){
		ctx.drawImage(img, 0, 0);
				 }
		}
	});
	
				
			 
	img.src=@{routes.Application.getImage()}
 	img.onload = function(){
	    ctx.drawImage(img, 0, 0);
	}	


}



function lanzar(){

	var total = 0;
	var parrafo;
	$("#lanzar").prop('disabled', true);
	parrafo=document.getElementById("numero");
	total = Math.floor((Math.random() * 6) + 1);	
	parrafo.innerHTML=total;
	var img = new Image(); 
	var canvas = document.getElementById("lienzo");
	var ctx = canvas.getContext("2d");
	//total = 6;
	switch (total) {

	    case 1:
	        document.getElementById('dado').src = "@routes.Assets.at("images/dados/1.png")";
	        break;
	    case 2:
			document.getElementById('dado').src = "@routes.Assets.at("images/dados/2.png")";
			break;
	    case 3:
			document.getElementById('dado').src = "@routes.Assets.at("images/dados/3.png")";
			break;
	    case 4:
			document.getElementById('dado').src = "@routes.Assets.at("images/dados/4.png")";
	        break;
	    case 5:
 			document.getElementById('dado').src = "@routes.Assets.at("images/dados/5.png")";	        
 			break;
	    case 6:
 			document.getElementById('dado').src = "@routes.Assets.at("images/dados/6.png")";	        
 			break;
	}
	
	
	$.ajax({
        type : 'GET',
        url : '@routes.Application.getImage()',
        data : {   },
        success : function(data) {
           var img = new Image();
			img.onload = function(){
	 ctx.drawImage(img, 0, 0);
		 }
        }
    });
	$.post("/dado", {total:total},function(data) {
		var img = new Image(); 
	 img.src=@{routes.Application.getImage()}; 
	 img.onload = function(){
	 ctx.drawImage(img, 0, 0);
		 }
		});
		 
	}

 		
  		
  		function compareAnswer(elmnt){
  		var correcta;
  		var respuesta;
  		respuesta=elmnt.value;
  		correcta=document.getElementById("res").value;
  		
  		
  		$("#res1").prop('disabled', true); 
  		$("#res2").prop('disabled', true);
  		$("#res3").prop('disabled', true);
  		$("#res4").prop('disabled', true);
  		
  		if(correcta === respuesta){   
  		 var aciertos=parseInt(sessionStorage.getItem("aciertos"));
     	aciertos=aciertos+1;
     	sessionStorage.setItem("aciertos", aciertos); 
     	
  			$.post("/acierto", {},function(data) {
  				if(data=="win"){
  				document.getElementById("ganador").innerHTML=sessionStorage.getItem("usuario");
  				document.getElementById("puntos").innerHTML=sessionStorage.getItem("aciertos");
  				document.getElementById("fails").innerHTML=sessionStorage.getItem("fallos");
  				
  				$("#myModal").hide();
  				$("#win").modal('show');
  				}
  					
  			}); 
  			
  		  	 $("#ok").show();
  			$("#acierto").show();
  			
  		}else
  		{    var fallos=parseInt(sessionStorage.getItem("fallos"));
     		fallos=fallos+1;
     		sessionStorage.setItem("fallos", fallos); 
     		
  			$.post("/fallo", {},function(data) {

  			}); 
  			
  		  	 $("#ok").show(); 
  			$("#error").show();
  		}
  			document.getElementById('dado').src = "@routes.Assets.at("images/dados/dado.gif")"; 
  		
  		}
  		
  		window.onload = function() {
										var canvas = document.getElementById("lienzo");
												if (canvas && canvas.getContext) {
												
												var ctx = canvas.getContext("2d");
												
												var usuario= sessionStorage.getItem("usuario");
												if(usuario==null){ 
												sessionStorage.setItem("usuario", "@user");
												sessionStorage.setItem("aciertos", "0");
												sessionStorage.setItem("fallos", "0");
												}
												
												if (ctx) {			
														 
														var output = document.getElementById("output");	 
														var img = new Image(); 
														img.src=@{routes.Application.getImage()}; 
														
														img.onload = function(){
													        ctx.drawImage(img, 0, 0);
													     }	
													     
														canvas.addEventListener("click", function(evt) {
													
														var mousePos = oMousePos(canvas, evt);
														$.post("/tablero",
															    {x:mousePos.x, y:mousePos.y},
															    function(data, textStatus, jqXHR)
														{
														var img = new Image();
														$.ajax({
       												 	type : 'GET',
       												 	url : '@routes.Application.getImage()',
        												data : {   },
      												  	success : function(data) {
           												var img = new Image();
														img.onload = function(){
														ctx.drawImage(img, 0, 0);
																 }
       														}
   														});

   																 
														img.src=@{routes.Application.getImage()}
														 img.onload = function(){
													        ctx.drawImage(img, 0, 0);
													     }	 
															var split=data.split(";")
															 
															document.getElementById("pr").innerHTML = split[2];
													    	document.getElementById("res1").value = split[3];
													    	document.getElementById("res2").value= split[4];
													    	document.getElementById("res3").value= split[5];
													    	document.getElementById("res4").value= split[6];
															document.getElementById("res").value = split[7];
															
															if(split[7]!==undefined){
															$("#lanzar").prop('disabled', false);
															$("#res1").prop('disabled', false); 
  															$("#res2").prop('disabled', false);
  															$("#res3").prop('disabled', false);
  															$("#res4").prop('disabled', false);
															$("#acierto").hide();
															$("#error").hide();
															$("#ok").hide(); 
															
															$("#myModal").modal('show');}
													    	   
													      });		
												
												
														}, false); 
													
													    
												} 
								     
							
								}
					

									
					function oMousePos(canvas, evt) {
					var ClientRect = canvas.getBoundingClientRect();
							return {//objeto
							x: Math.round(evt.clientX - ClientRect.left),
							y: Math.round(evt.clientY - ClientRect.top)
							}
					}
			}
		</script>
			
	}
