@()

@import helper._

@bienvenida("Inicio") {

<div class="container-fluid" >

	<div class="well" align="center">
		<h1>Bienvenido a Trivial1a</h1>
	</div>	
	
	<div class="row" align="center">
		<div class="col-xs-6">
			<div class="bg-warning">
				<p class="lead">
					Lorem fistrum jarl quietooor diodeno amatomaa. 
					De la pradera a peich torpedo jarl no te digo trigo por no 
					llamarte Rodrigor por la gloria de mi madre quietooor. Benemeritaar
					ahorarr quietooor no te digo trigo por no llamarte Rodrigor me cago
					en tus muelas no puedor pupita. Torpedo no puedor apetecan caballo 
					blanco caballo negroorl apetecan pecador me cago en tus muelas papaar 
					papaar. Se calle ustée a wan ahorarr no puedor hasta luego Lucas 
					se calle ustée no puedor. Pupita se calle ustée benemeritaar te 
					voy a borrar el cerito.
			 	</p>
			 </div>
		</div>
		
		<div class="col-xs-6">
			<div class="row">
				<img src="@routes.Assets.at("/images/titulo.png")" width="400" height="175" class="img-rounded">
			</div>
			
			<div class="row">
			<br>
				<button type="submit" class ="btn btn-primary">Jugar</button>
				<button type="button" class ="btn btn-primary">Registrarse</button>
			</div>
		</div>
		
	</div>
	
</div>

}